#body-wrap{
    background: linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)) 0% 0% / cover, url("https://ae01.alicdn.com/kf/H18a4b998752a4ae68b8e85d432a5aef0l.png"), url("https://ae01.alicdn.com/kf/H21b5f6b8496141a1979a33666e1074d9x.jpg") 0px 0px;
    background-attachment: fixed;
}

/* 主页所有文章页面背景 */
#aside_content .card-widget, #recent-posts>.recent-post-item, .layout_page>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post{
    /* 以下代表透明度为0.5 */
    background: rgba(255,255,255,.5);
}

/*侧边栏页面*/
#aside-content>.card-widget  {
    background: rgba(255,255,255,.5);
}
#aside-content>.sticky_layout>.card-widget{
    background: rgba(255,255,255,.5);
}

/*文章页面*/
.layout>#post{
    background: rgba(255,255,255,.7);
}

/*分类页面*/
.layout>#page{
    
    background: rgba(255,255,255,.5);
}

/*时间轴页面*/
.layout>#archive{
    background: rgba(255,255,255,.5);
}